$color-white: #fff;
$color-black: #000;

$pale-grey: #f8f9fa;
$pale-grey-two: #f1f3f5;
$pale-grey-three: #e9edf1;
$pale-grey-four: #edeff3;
$pale-grey-five: #f2f6fd;
$warm-grey: #8b8484;
$white-three: #e9e8e8;
$white-two: #e6e6e6;

$cloudy-blue: #afb8ca;
$cloudy-blue-two: #ced3de;
$steel: #868e95;
$silver: #c8cccf;
$blue-grey: #7282a1;
$greyish-brown: #4a4a4a;
$greyish-brown-two: #3c3939;
$brownish-grey: #645e5e;
$pinkish-grey: #b0abab;
$light-periwinkle: #c6d8f6;
$dark-grey: #212529;
$dark: #12151b;
$black-two: #141313;
$cool-dark-gray-active-texts: #12151b;

$dark-sky-blue: #4381e2;
$duck-egg-blue:#f5f8fd;
$duck-egg-blue-two: #d9e6f9;
$deep-sky-blue: #228ae6;

$watermelon: #F85359;
$error: #f8535a;
$fire-engine-red: #E30003;

$synapse-blue: #4381E2;
$synapse-blue-hover: #72A1EA;
$synapse-blue-focused: #A1C0F0;

$tealish: #2bbbad;

// LEGACY
$oc-gray-0: #f8f9fa;
$oc-gray-9: #212529;
$oc-gray-4: #ced4da;
$oc-gray-6: #868e96;
