@mixin card-shadow($show-shadow: false) {
    border: 1px solid $card-border-color;
    transition: box-shadow 0.25s;
    @if $show-shadow == true {
    box-shadow: 0 0.15rem 0.3rem 0 rgba($oc-gray-9, 0.2);
    }

    &:hover {
        box-shadow: 0 0.15rem 0.3rem 0 rgba($oc-gray-9, 0.2);
    }
}

@mixin handle($width, $background-size) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: 100%;
    cursor: move;
    background-image: url('/static/icons/drag-and-drop-gray-6.svg');
    background-size: $background-size;
    background-position: center;
    background-repeat: no-repeat;
}
