@import url('https://fonts.googleapis.com/css?family=Assistant:400,600,300');
@import url('https://fonts.googleapis.com/css?family=Lato:Lato:300,300i,400,400i,700,700,900,900');

$font-family-body: "Lato", "Helvetica", "Open Sans", "Arial", sans-serif;

$font-size-small: 0.6rem;
$font-size-default: 1rem;
$font-size-medium: 1.13rem;
$font-size-large: 1.27rem;

$line-height-default: 1.4;
$font-weight-default: 400;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
